body,
html,
.space-container {
    position: relative;
    width: 100%;
    min-height: 100%;
    color: white;
    background-color: #2C3E50;
    margin: 0;
    padding: 0;
}

.navbar {
    border-radius: 0;
    background-color: #16A085;
}

.navbar a {
    color: white;
}

.navbar a:hover {
    opacity: 0.7;
}

main,
footer .inner-container,
.navbar .container-fluid {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

footer {
    background-color: #34495E;
}

footer .inner-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.spaceship {
    position: absolute;
    right: -150px;
    top: -40px;
}

.astronaut {
    position: absolute;
    left: -390px;
    top: 260px;
}

.planet-1 {
    position: absolute;
    right: -280px;
    top: 470px;
}

.planet-2 {
    position: absolute;
    right: -120px;
    top: 380px;
}

h1, h2, h3, em {
    font-family: 'Roboto Slab', serif;
}

h1 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 30px;
}

h2 {
    font-weight: 300;
    font-size: 25px;
}

h3 {
    font-size: 20px;
    font-weight: bold;
}

em {
    font-weight: 900;
    font-style: normal;
}